extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p SkateSpot is a place where skate &amp; snow lovers can discover and review boards, skatespots, mountains and more. See which places your friends are visiting, and keep track of places you want to visit or items you want to purchase.
        p Sed dictum dolor vitae dignissim scelerisque. Ut tincidunt, tortor at accumsan eleifend, tellus lectus vestibulum nibh, accumsan sagittis turpis nisl eu mauris. Mauris ut laoreet sapien. Nam suscipit, dui at condimentum accumsan, dui sapien tincidunt.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE
